body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    font-size: 14px;
    line-height: 1.6;
    color: #7a7a7a;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

*,
:before,
:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 670px;
    position: relative;
    background: #302851 url("../img/images/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    line-height: 1;
    color: #fff;
}

.intro__title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin: 25px auto 0;
    background: #00e0d0;
}

.intro__text {

    max-width: 800px;
    margin: 20px auto 40px;
    padding: 0 20px;
    color: #fff;
    font-weight: 300;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 100;
    color: #00e0d0;
    padding-left: 20px;
}

.logo {
    margin-right: 11px;
}

/* Nav */
.nav {
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}


.nav__link:hover {
    color: #00e0d0;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 13px;
    background: 0;
    border: 1px solid #00e0d0;
    cursor: pointer;
    color: #00e0d0;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;

}

.btn:hover {
    background: #00e0d0;
    color: #fff;
}

.btn--mg {
    margin-bottom: 70px;
}

.btn--form {
    padding: 7px 32px;
    margin-bottom: 80px;
}

/* Circle */
.circle {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 20px 2px 50px 2px;
}

.intro__scroll {
    display: flex;
    justify-content: center;
}

.circle__active {
    background: #00e0d0;
    border: 1px solid #00e0d0;
}

.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}


/* Story */

.story {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.story__img {
    width: 41%;

}

.story__item {
    width: 59%;
    text-align: left;
}

.story__item p {
    margin: 15px 0;
    padding-right: 20px;
}

.story__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #413d4b;
}

.story__item p {
    font-weight: 300;
    line-height: 1.5;
}

.story__item .btn {
    margin-top: 10px;
}

/* Play */
.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 550px;
    position: relative;
    background: #302851 url("../img/play.jpg") center no-repeat;
    background-size: cover;
}

.play__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play__title {
    padding-top: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}


/* Expertise */
.expertise {
    padding: 30px 0;
    display: flex;

    flex-wrap: wrap;
}

.expertise__inner {
    width: 100%;
    margin: 40px 0 40px 0;
    text-align: center;
}

.expertise__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413d4b;
    text-transform: uppercase;
}

.expertise__suptitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #636268;
}


.expertise__suptitle:after {
    content: "";
    display: block;
    margin: 20px auto 0;
    width: 50px;
    height: 2px;
    background-color: #413d4b;
    opacity: 0.3;
}

.expertise__item {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.expertise__block {
    height: 100%;
    width: 250px;
    padding: 40px 0;
}

.expertise__block h4 {
    color: #413d4b;
}

.icon__block {
    padding-bottom: 90px;
    height: 50px;
    width: 50px;
    margin: auto;
}

.ex__border {
    border-right: 1px solid #ebebeb;
}

.ex__border__bottom {
    border-bottom: 1px solid #ebebeb;
}

/* Team */

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 712px;
    position: relative;
    background: #302851 url("../img/team.jpg") center no-repeat;
    background-size: cover;
}

.team__title {
    color: #fff;
}

.team__suptitle {
    color: #f9f9f9;
    margin-bottom: 50px;
}

.team__suptitle::after {
    background-color: #ffffff;
    opacity: 0.2;
}

.team__blocks {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.team__block {
    width: 220px;
    height: 308px;
    border: 1px solid #fff;
    margin-right: 20px;
    text-align: center;
}

.team__block:last-child {
    margin: 0;
}

.team__name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 7px;
}

.team__profecional {
    opacity: 0.7;
    color: #fafafa;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.team__result {
    color: #f3f3f3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 26px;
}

/* Project */
.project__title {
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
}

.project__next {
    color: #413d4b;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.project__icon {
    position: relative;
    left: 10px;
    top: 1px;
}

.project__img {
    display: flex;
    padding-bottom: 70px;
}

.project__block {
    width: 100%;
    flex: 1 1 0;
}

.project__photo {
    display: block;
    height: auto;
    max-width: 100%;
}

/* People */
.people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    background: #302851 url("../img/people.jpg") center no-repeat;
    background-size: cover;
    margin: 70px 0;
}

.people__title {
    opacity: 0.9;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}

.people__text {
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 50px;
    opacity: 0.85;
}

i {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 8px;
    margin: 0 30px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.your__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin: 45px 0 70px;
}

.your__photo {
    margin-right: 14px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.your__photo--last {
    margin-right: 0;
}

.your--active {
    height: 70px;
    width: 70px;
}

.scroll {
    margin: 0 32px;
    color: #fff;
}

/* Happy news */

.form {
    display: flex;
    text-align: left;
}

.form__text {
    width: 460px;
    height: 45px;
    margin-top: 21px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

::-webkit-input-placeholder {
    color: #000;
    opacity: 0.8;
}

:-moz-placeholder {
    color: #000;
    opacity: 0.8;
}

::-moz-placeholder {
    color: #000;
    opacity: 0.8;
}

:-ms-input-placeholder {
    color: #000;
    opacity: 0.8;
}

input,
textarea {
    opacity: .8;
    padding: 0 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

textarea {
    padding-top: 20px;
}

footer input {
    color: #fff;
    opacity: none;
}

.form__text::-webkit-input-placeholder       { transition: opacity 0.3s ease;}
.form__text::-moz-placeholder                { transition: opacity 0.3s ease;}
.form__text:-moz-placeholder                 { transition: opacity 0.3s ease;}
.form__text:-ms-input-placeholder            { transition: opacity 0.3s ease;}
.form__text:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form__text:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form__text:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form__text:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


.form__massage::-webkit-input-placeholder       { transition: opacity 0.3s ease;}
.form__massage::-moz-placeholder                { transition: opacity 0.3s ease;}
.form__massage:-moz-placeholder                 { transition: opacity 0.3s ease;}
.form__massage:-ms-input-placeholder            { transition: opacity 0.3s ease;}
.form__massage:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form__massage:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form__massage:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form__massage:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.form__massage {
    width: 460px;
    height: 200px;
    margin: 21px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form__textarea {
    width: 460px;
    height: 250px;

}

.happy__news {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.right__block {
    flex-direction: row;
    padding-left: 90px;
}

.logo__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo__clients {
    margin: 47px 50px 0 0;
    width: auto;
}

/* Footer */
.footer {
    width: 100%;
    height: 400px;
    background: #302851 url("../img/footer__bg.jpg") center no-repeat;
    background-size: cover;
}

.footer__container {
    display: flex;
    padding-top: 70px;
}

.footer__block {
    width: 33.3333%;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 26px;
}

.footer__block:last-child {
    padding-right: 0;
}

.play__title--w {
    width: 100%;
    margin-bottom: 42px;
}

.point {
    padding: 3px 16px 0 0;
}

.adress {
    width: 237px;
    margin-bottom: 27px;
}

.text__footer {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.play__title--ww {
    margin-bottom: 30px;
}

.form__footer {
    background: 0;
    width: 211px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 0;
}

.form__footer::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.9px;
}

.btn--footer {
    padding: 10px 22px 2px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.4;
}

.social__icon {
    margin: 20px 8px 0 0;
    fill: #fff;
    height: 35px;
    width: 35px;
    transition: fill .2s linear;
}

.social__icon:hover {
    fill: #00e0d0;
}

.text-decor {
    text-decoration: none;
}

.nav__last {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    text-decoration: none;
    margin-right: 30px;

    transition: color .1s linear;
}

.nav__last:hover {
    color: #00e0d0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}





/* --------------------------------------------------  */

.reviews__item {
    padding-left: 17px;
}

.reviews__photo {
    display: block;
    width: 45px;
    height: 45px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__item {
    min-height: 55px;
    padding-left: 55px;
    position: relative;
    margin: 0 auto;
}

.slider__container {
    margin: 100px;
    width: 350px;
    height: 10px;
}

.slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}
.slick-arrow {
    top: 24%;
}

.slick-prev {
    left: -30px;
    transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
    right: -20px;
    transform: rotate(135deg);
}

/* Media */

@media (max-width: 1000px) {
    .team {
        height: auto;
    }

    .team__blocks {
        flex-wrap: wrap;
        margin:  0 auto 80px;
        width: 600px;
    }
    .team__block:last-child {
        margin: 20px;
    }

    .team__block {
        margin: 20px;
    }

    .project__title {
        margin: 70px 20px;
    }

    .headden {
        display: none;
    }

    .right__block {
  
        order: 1;
        width: 450px;
        padding: 0 0 70px;
        
    }

    .happy__news {
        order: 2;
        width: 550px;
    }

    .form {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .form__textarea {
        margin: 0 auto;
    }

    .footer {
        height: 100%;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
  
    }

    .footer__block,
    .nav__footer,
    .tm {
        width: 400px;
        margin-bottom: 20px;
    }

    .adress {
        width: 90%;
    }

    .footer__logo {
        margin-bottom: 20px;
    }

    .play__title--w,
    .play__title--ww {
        margin-bottom: 10px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        text-align: start;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .expertise__item {
        width: 50%;
        border: none;
    }

    .headden2 {
        display: none;
    }
}

@media (max-width: 620px)  {
    .expertise__item {
        width: 100%;
    }

    .team__blocks {
        width: 100%;
    }

    .team__block {

    }

    .right__block {
        width: 100%;
    }

    .happy__news {
        width: 100%;
    }

    .form__text,
    .form__textarea {
        width: 90%;
    }

    .form__massage {
        width: 100%;
    }

    .story {
        flex-wrap: wrap;
        text-align: center;
    }

    .story__img {
        width: 100%;
    }

    .story__item {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .project__title {
        flex-wrap: wrap;
        justify-content: center;
    }

    .expertise__title {
        margin-bottom: 10px;
    }

    .your__img {
        width: 100%;
    }

    .slider__container {
        width: 200px;
    }

    .reviews__photo {
        width: 40px;
        height: 40px;
    }

    .headden3 {
        display: none;
    }
    .right__block {
        width: 300px;
    }

    .logo__block {
        justify-content: center;
    }

    .logo__clients {
        
    }

    .form__textarea {
        width: 70%;
    }

    .footer__block {
        width: 300px;
        padding: 10px;
    }
    .footer__bottom {
        padding-left: 10px;
    }

    .nav__footer {
        width: 290px;
    }

    .form__text {
        width: 70%;
    }

    .nav__last {
        margin-right: 10px;
    }

    .tm {
        width: 290px;
    }
}